<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<div id="app" class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Comcast Business: New Customer Depot</a>

            <ul class="navbar-nav ml-auto">
                <th:block th:if="${isloggedIn}">
                    <a class="nav-link" href="#" th:text="${username}"></a>
                    <a class="nav-link" href="logout" th:text="${username}"></a>
                </th:block>
                <th:block th:unless="${isloggedIn}">
                    <a class="nav-link" href="\login">User Login</a>
                </th:block>
            </ul>
    </nav>
</div>

<h1 style="text-align:center;">Welcome to the Comcast Business Depot</h1>

<img th:src="@{/css/comcast.jpg}" alt="Comcast Business" width="100%" height="400px">
