<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<div th:replace="fragments :: page-header">
</div>

<br>
<div>
</div>

<h1>CUSTOMER DETAILS</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Service Address</th>
        <th>Contact phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.customerDetails.serviceAddress}"></td>
        <td th:text="${customer.customerDetails.phone}"></td>
        <td th:text="${customer.customerDetails.email}"></td>
    </tr>
</table>


</body>
</html>