<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<div th:fragment="page-header" id="app" class="container-fullwidth">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Comcast Business: New Customer Depot</a>

        <ul class="navbar-nav ml-auto">
            <th:block th:if="${isloggedIn}">
                <a class="nav-link" href="#" th:text="${username}"></a>
                <a class="nav-link" href="\profile" th:text="Profile"></a>
                <a class="nav-link" href="\login" th:text="LogOut"></a>
                <a class="nav-link" href="\register" th:text="Register"></a>
            </th:block>
            <th:block th:unless="${isloggedIn}">
                <a class="nav-link" href="\login">User Login</a>
                <a style="font-size:12px;" class="nav-link" href="#">Help</a>
                <a style="font-size:12px;" class="nav-link" href="#">Version 1.0</a>
            </th:block>
        </ul>
    </nav>
</div>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>

    <div class="form-group">
        <label>Role
            <select class="form-control" th:field="${registerFormDTO.role}">
                <option value="customer">Customer</option>
                <option value="agent">Agent</option>
                <option value="admin">Admin</option>
            </select>
        </label>
        <p class="error" th:errors="${registerFormDTO.role}"></p>
    </div>

    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>

</body>
</html>